.product__container {
  width: 100% !important;
  justify-content: center;
  border-radius: 10px;


}
.card{
     border: none !important;
}
.card__images {
  margin: 1rem;
  padding: 1rem 2rem;


}
.product__container:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.title {
  margin-bottom: 10px;
  height: 20px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details__container {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin-top: 8rem;
}
.details__text h4,
p {
  text-transform: capitalize;
  font-weight: 500 !important;
}
.add__cart {
  background-color: #e3256b !important;
  outline: none;
  border: 0;
  font-weight: 500;
  margin-bottom: 30px;
}
.add__cart:hover{
  background-color: #fff;
  border: #e3256b;
}
.product__link {
  color: #3f3f3b;
  text-decoration: none;
}
.buttons{
  display:flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  outline: none;
  border: none;
  /* show add cart on hover */
  /* display: none; */


}
/* .buttons:hover{
  display: block;
} */


